[submodule "certificate_of_origin"]
	path = bond/certificate_of_origin
	url = git@github.com:energywebfoundation/certificate_of_origin.git
[submodule "resin-sdk-python"]
	path = resin-sdk-python
	url = git@github.com:resin-io/resin-sdk-python.git
[submodule "resin"]
	path = resin
	url = git@github.com:resin-io/resin-sdk-python.git
[submodule "energyweb-client"]
	path = energyweb-client
	url = git@github.com:slockit/energyweb-client.git
